pkgbase = mctier-linux-web-git
	pkgdesc = MCTier Linux Web: virtual networking, chat and browser-based voice/screen sharing
	pkgver = 3.9.0.r381.g8aefe58
	pkgrel = 1
	url = https://github.com/Copper0SO4/MCTier_Linux_Web
	install = mctier-linux-web.install
	arch = x86_64
	license = custom:MCTier-NonCommercial
	license = LGPL-3.0-only
	makedepends = git
	makedepends = nodejs>=20
	makedepends = npm
	makedepends = rust>=1.90
	depends = bash
	depends = glibc
	depends = gcc-libs
	depends = openssl
	depends = dbus
	depends = libcap
	depends = polkit
	depends = curl
	depends = xdg-utils
	depends = coreutils
	depends = gawk
	optdepends = chromium: recommended browser for voice and screen sharing
	optdepends = gnome-keyring: Secret Service provider for encrypted passwords
	optdepends = ufw: optional firewall rule management
	optdepends = firewalld: optional firewall rule management
	provides = mctier-linux-web
	conflicts = mctier-linux-web
	noextract = easytier-linux-x86_64-v2.5.0.zip
	options = !strip
	options = !debug
	source = MCTier::git+https://github.com/Copper0SO4/MCTier_Linux_Web.git#branch=master
	source = https://github.com/EasyTier/EasyTier/releases/download/v2.5.0/easytier-linux-x86_64-v2.5.0.zip
	source = easytier-LICENSE::https://raw.githubusercontent.com/EasyTier/EasyTier/v2.5.0/LICENSE
	source = mctier.sh
	source = README.md
	sha256sums = SKIP
	sha256sums = c715d62ffcdad2578bc5d743bdfbcfe02cda9c12f80bd1bad3b36d4d7fc0eb8b
	sha256sums = e3a994d82e644b03a792a930f574002658412f62407f5fee083f2555c5f23118
	sha256sums = ba3b7137f5544d63e96c1e4458bb584c4605b29227969c1a54e30a75388b569e
	sha256sums = d693230c6bf84b60c3ba5bb88b40210e3249d2c807c4dd1a5549d6bff255b252

pkgname = mctier-linux-web-git
